<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- ✅ Eliminar WebDAV -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />

      <!-- ✅ IISNODE -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>

        <!-- ✅ Debug Node -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- ✅ Uploads -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^uploads\/.*" />
          <action type="None" />
        </rule>

        <!-- ✅ Todas las rutas van a Express -->
        <rule name="DynamicContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>

          <action type="Rewrite" url="server.js" />
        </rule>

      </rules>
    </rewrite>

    <!-- ✅ Errores -->
    <httpErrors existingResponse="PassThrough" />

    <!-- ✅ IISNODE -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" />

  </system.webServer>
</configuration>